BasedOnStyle: Chromium
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: true
# An opening brace is on the same line, except in functions
# Also known as Kernighan and Ritchie (K&R) style.
BreakBeforeBraces: Linux
ColumnLimit: 0
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
PointerBindsToType: false
SpacesBeforeTrailingComments: 1
TabWidth: 4
UseTab: Never
